{
    "sparkAccessToken": "",
    "sparkDeviceID": "",
    "twilioAccountSID": "",
    "twilioAuthToken": "",
    "smsToPhoneNumber": "",
    "smsFromPhoneNumber": "",
    "dbUser":"",
    "dbPwd":"",
    "dbName":"",
    "collection":""
}
