extends layout

block content
	h1= title
	table
		thead
			th Relative Humidity [%]
			th Temperature [C]
		tbody
			each point, i in data
				tr
					td #{point.rh} 
					td #{point.temp}


	table
		thead
			th Collections
		tbody
			each point2, i in data2
				tr
					td #{point2.name}
